# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Model checkpoints
*.pt
*.pth
checkpoints/

# Hugging Face cache
.cache/
.huggingface/

# Gradio
gradio_cached_examples/

# macOS
.DS_Store

# VSCode
.vscode/

# Google Colab
sample_data/

# Logs
*.log

# Temporary files
*.tmp