torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0

transformers>=4.40.0
timm>=0.9.12

diffusers>=0.27.0
accelerate>=0.29.0
safetensors>=0.4.2

gradio>=4.30.0

pandas>=2.2.0
numpy>=1.26.0

librosa>=0.10.1
soundfile>=0.12.1

Pillow>=10.0.0
matplotlib>=3.8.0

streamlit>=1.36
